body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.timeline-container {
  width: 100%;
  height: 100vh;
  background-image: url('images/home.jpg'); /* Path to your background image */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Keep the image fixed */
  position: relative;
  overflow-y: scroll; /* Enable scrolling for the timeline content */
}

.timeline {
  position: relative;
  padding: 48px 544px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.timeline-item {
  margin-bottom: 50px;
  position: relative;
  display: flex;
  justify-content: flex-start; /* Align items horizontally */
  align-items: center;
}

.timeline-year {
  font-size: 1.5rem; /* Smaller by default */
  font-weight: normal;
  color: white;
  margin-right: 73px;
  width: 150px; /* Fix the width of the year section */
  cursor: pointer;
  transition: font-size 0.3s ease, font-weight 0.3s ease;
}

.timeline-year.active {
  font-size: 3rem; /* Enlarged when active */
  font-weight: bold;
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: 150px; /* Position line between the year and the content */
  top: 0;
  height: 166px;
  width: 2px;
  background-color: white;
  z-index: 0; /* Ensure the line is behind the content */
}

.timeline-item::after {
  content: '';
  position: absolute;
  left: 144px; /* Position the dot on the line */
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
}

.event-details {
  position: fixed;
  top: 134px;
  right: 460px;
  background-color: rgba(0, 0, 0.1, 0.5);
  padding: 60px;
  border-radius: 8px;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
}

.event-details h3 {
  margin: 0;
  font-size: 1.8rem;
}

.event-details p {
  margin-top: 10px;
}
